<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_AIRPLANE_MODE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Diplom"
        tools:targetApi="31">
        <activity
            android:name=".MagaziniActivity"
            android:exported="true"
            android:label="@string/magazini_name"
            android:theme="@style/Theme.Diplom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CatalogActivity"
            android:exported="true"
            android:label="@string/catalog_name"
            android:theme="@style/Theme.Diplom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".KorzinaActivity"
            android:exported="true"
            android:label="@string/korzina_name"
            android:theme="@style/Theme.Diplom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AkciiActivity"
            android:exported="true"
            android:label="@string/akcii_name"
            android:theme="@style/Theme.Diplom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfilActivity"
            android:exported="true"
            android:label="@string/profil_name"
            android:theme="@style/Theme.Diplom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TechSupportActivity"
            android:exported="true"
            android:label="@string/techsupport_name"
            android:theme="@style/Theme.Diplom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutPrilActivity"
            android:exported="true"
            android:label="@string/aboutpril_name"
            android:theme="@style/Theme.Diplom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdresaDostavokActivity"
            android:exported="true"
            android:label="@string/adresadostavok_name"
            android:theme="@style/Theme.Diplom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CalendarDostavokActivity"
            android:exported="true"
            android:label="@string/calendardostavok_name"
            android:theme="@style/Theme.Diplom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HideMagaziniActivity"
            android:exported="true"
            android:label="@string/hidemagazini_name"
            android:theme="@style/Theme.Diplom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InfoForClientActivity"
            android:exported="true"
            android:label="@string/infoforclient_name"
            android:theme="@style/Theme.Diplom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyKartiActivity"
            android:exported="true"
            android:label="@string/mykarti_name"
            android:theme="@style/Theme.Diplom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyOtziviActivity"
            android:exported="true"
            android:label="@string/myotzivi_name"
            android:theme="@style/Theme.Diplom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyZakaziActivity"
            android:exported="true"
            android:label="@string/myzakazi_name"
            android:theme="@style/Theme.Diplom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="@string/settings_name"
            android:theme="@style/Theme.Diplom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" >
        </meta-data>

    </application>

</manifest>