<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Diplom"
        tools:targetApi="31">
        <activity
            android:name=".MagaziniActivity"
            android:exported="true"
            android:label="Магазины"
            android:theme="@style/Theme.Diplom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CatalogActivity"
            android:exported="true"
            android:label="Каталог"
            android:theme="@style/Theme.Diplom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".KorzinaActivity"
            android:exported="true"
            android:label="Корзина"
            android:theme="@style/Theme.Diplom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AkciiActivity"
            android:exported="true"
            android:label="Акции"
            android:theme="@style/Theme.Diplom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfilActivity"
            android:exported="true"
            android:label="Профиль"
            android:theme="@style/Theme.Diplom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TechSupportActivity"
            android:exported="true"
            android:label="Тех.поддержка"
            android:theme="@style/Theme.Diplom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutPrilActivity"
            android:exported="true"
            android:label="О приложении"
            android:theme="@style/Theme.Diplom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdresaDostavokActivity"
            android:exported="true"
            android:label="Адреса доставок"
            android:theme="@style/Theme.Diplom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CalendarDostActivity"
            android:exported="true"
            android:label="Календарь доставок"
            android:theme="@style/Theme.Diplom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HideMagaziniActivity"
            android:exported="true"
            android:label="Скрытые магазины"
            android:theme="@style/Theme.Diplom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InfoForClientActivity"
            android:exported="true"
            android:label="Информация для клиентов"
            android:theme="@style/Theme.Diplom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyKartiActivity"
            android:exported="true"
            android:label="Мои карты"
            android:theme="@style/Theme.Diplom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyOtziviActivity"
            android:exported="true"
            android:label="Мои отзывы"
            android:theme="@style/Theme.Diplom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyZakaziActivity"
            android:exported="true"
            android:label="Мои заказы"
            android:theme="@style/Theme.Diplom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="Настройки"
            android:theme="@style/Theme.Diplom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

    </application>

</manifest>